

.form {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  button {
    width: 10%;
    margin-left: 15px;
  }
}

.name {
  text-decoration: none;
  color: #333
}

.comment {
  padding: var(--mantine-spacing-lg) var(--mantine-spacing-xl);
}

.body {
  padding-left: 54px;
  padding-top: var(--mantine-spacing-sm);
  font-size: var(--mantine-font-size-sm);
}

.content {
  & > p:last-child {
    margin-bottom: 0;
  }
}
