.root {
  display: flex;
  padding: 10px;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  button {
    width: 10%;
    margin-left: 15px;
  }
}

.name {
  text-decoration: none;
  color: #333
}
