@import "shared/themes/palette.module";

.root {
  .row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;

    .wrapper {
      width: 50% !important;
      display: flex;

      .percent {
        width: 25%;
        text-align: end;
      }

      .stat {
        height: 20px !important;
        border-radius: 4px;
        width: 100%;
        margin-right: 8px;
      }
    }
  }
}

.stat {
  height: 20px !important;
  border-radius: 4px;
  width: 100%;
  margin-right: 8px;
}

.percent {
  width: 20%;
  text-align: end;
}

.MuiDrawer-anchorRight {
  width: 600px !important;
}
.nutrients {
  border: 4px solid $secondary;
  border-radius: 10px;
  padding: 10px;

  .header {
    background-color: $secondary;
    color: white;
    text-align: center;
  }
}

.table {
  td, th {
    padding: 2px
  }
}

