@import "shared/themes/palette.module";

.root {
  width: 400px;
  padding: 50px;
  margin: 10% auto;

  .title {
    text-align: center !important;
    font-weight: bold !important;
  }

  .link {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    color: $grey;
    text-decoration: none;

    &:hover {
      color: #373a3c;
    }
  }

  .error {
    display: flex;
    justify-content: center;
    height: 20px;
    padding-bottom: 20px;
  }
}
