.cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid #333;
    border-radius: 10px;
}

.card {
    width: 45%;
    text-align: center;
    height: auto;
    border: 1px solid #333;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

a {
    color: #333;
    text-decoration: none;
}

.card:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.5)
}

.status {
    border: 1px dashed #333;
    border-radius: 10px;
    margin-top: 10px;
    padding: 5px;
}

.col {
    width: 40%;
    display: inline-block;
    vertical-align: middle;
}


.photo {
    width: 125px;
    height: 75px;
    border-radius: 50px;
}

.name {
    font-weight: 700;
}

.btn {
    margin-top: 20px;
    width: 80px;
    height: 30px;
    background-color: #333;
    color: white;
    border: 1px solid #333;
    border-radius: 10px;
}

.btn:hover {
    cursor: pointer;
    opacity: 0.8;
}

.btn:disabled {
    opacity: 0.5;
}

.pages {
    display: flex;
    flex-wrap: wrap;
}

.pages span {
    padding: 10px
}

.pages span:hover {
    cursor: pointer;
    text-shadow: 1px 1px 2px #333;
}

.selectedPage {
    font-weight: 700;
    text-shadow: 1px 1px 2px #333;
}

/* .preloader {
    display: flex;
    flex-direction: row;
}

.preloader img {
    display: inline-block;
    justify-content: center;
    width: 100px;
} */