@import "shared/themes/palette.module";

.root {
  width: 400px;
  padding: 50px;
  margin: 10% auto;
  background-color: $white;

  .title {
    text-align: center !important;
    font-weight: bold !important;
    margin-bottom: 30px !important;
  }

  .field:not(:last-of-type) {
    margin-bottom: 25px !important;
  }


  .avatar {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }

  .link {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    color: $grey;

    &:hover {
      color: #373a3c;
    }
  }

  .error {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    height: 20px;
    padding: 20px;
    color: $error;
  }
}

//.snackbar {
//  color: #fff;
//}
