{
  "arrowParens": "always",
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 100,
  "tabWidth": 2,
  "jsxSingleQuote": true,
  "overrides": [
    {
      "files": [
        "*.ts",
        "*.js",
        "*.tsx",
        "*.jsx"
      ],
      "options": {
        "trailingComma": "all"
      },
      "parser": "babel-ts"
    }
  ],
  "endOfLine":"auto"
}
