$blue: #4361ee;
@import "shared/themes/palette.module";

.root {
  background-color: #fff;
  border: 1px solid #dedede;
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 15px;
  position: relative;


  &:hover {
    border: 1px solid $blue;
    box-shadow: 0 0 0 1px $blue;

    .editButtons {
      opacity: 1;
    }
  }

  &Full {
    &:hover {
      background-color: #fff;
      border: 1px solid #dedede;
      box-shadow: none;
    }
  }
}

.cardContent {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}

.tag {
  &:hover {
    background-color: $secondary !important;
    color: white !important;
  }
}

.image {
  width: 100%;
  height: 300px;
  object-fit: cover;

  &Full {
    min-height: 300px;
    height: 100%;
  }
}

.wrapper {
  padding: 10px 20px 20px;
}

.content {
  margin: 30px 0 50px;

  p {
    font-size: 22px;
    line-height: 36px;
  }
}

.indention {
  padding-left: 40px;
}

.title {
  font-size: 28px;
  margin: 0;
  text-align: justify;
  text-indent: 40px;

  a {
    text-decoration: none;
    color: #000;

    &:hover {
      color: $blue;
    }
  }

  &Full {
    font-size: 30px;
    font-weight: 900;
  }
}

.text {
  text-align: justify;
  text-indent: 40px;
}

.tags {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 20px;
  overflow-y: hidden;

  :hover {
    cursor: pointer;
  }

  li {
    display: inline-block;
    font-size: 14px;
    margin-right: 15px;
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }

    a {
      text-decoration: none;
      color: #000;
    }
  }
}

.rowContent {
  height: 35%;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.cardContentTags {
  height: 25px;
  padding: 8px 16px;
  overflow: hidden;
  display: flex;
  width: auto;
  justify-content: start;
  gap: 5px;
  vertical-align: center;
}

.postDetails {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    margin-right: 20px;
    opacity: 0.5;
    height: 20px;

    .comment {
      margin-top: 3px
    }

    svg {
      font-size: 18px;
      margin-right: 5px;
    }
  }
}

.skeleton {
  background-color: #fff;
  border: 1px solid #dedede;
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 15px;

  &Content {
    padding: 20px;
  }

  &Info {
    margin-left: 50px;
  }
}

.skeletonUser {
  display: flex;

  &Details {
    display: flex;
    flex-direction: column;
  }
}

.skeletonTags {
  display: flex;

  span {
    margin-right: 15px;
  }
}

.editButtons {
  position: absolute;
  right: 15px;
  top: 15px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  opacity: 0;
  transition: all 0.15s ease-in-out;
}

.card {
  a {
    text-decoration: none;
    color: #000;
  }

  .title {
    color: #000;
  }

  .subtitle {
    color: rgba(0, 0, 0, 0.6);
  }
}
