$blue: #4361ee;
@import "shared/themes/palette.module";

// страница со статьей
.text {
  text-align: justify;
  margin: 20px 0;
}

.tags {
  height: 26px;
  padding: 4px 16px;
  overflow: hidden;
  display: flex;
  width: auto;
  justify-content: flex-start;
  gap: 10px;
  vertical-align: center;

  .tag {
    cursor: pointer;
    &:hover {
      background-color: $primary !important;
      color: white !important;
    }
  }
}

.skeleton {
  background-color: #fff;
  border: 1px solid #dedede;
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 15px;

  &Content {
    padding: 20px;
  }

  &Info {
    margin-left: 50px;
  }
}

// карточка статьи в основной ленте
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  .cardContent {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
  }

  .cardTags {
    height: 26px;
    padding: 4px 16px;
    overflow: hidden;
    display: flex;
    width: auto;
    justify-content: flex-start;
    gap: 10px;
    vertical-align: center;

    .tag {
      &:hover {
        background-color: $primary !important;
        color: white !important;
      }
    }
  }

  a {
    text-decoration: none;
    color: #000;

    &:hover {
      text-decoration: none;
      color: #000;
    }
  }

}
