@import "shared/themes/palette.module";

.stats {
  margin: 0 !important;
  padding: 10px 0;

  .stat {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .period {
      font-size: 30px;
      color: $primary;
      justify-content: center;
      text-align: center;
    }

  }


}


