.root {
  display: flex;
  margin-top: 10px;
  padding-bottom: 20px;
  margin-right: 20px;
  margin-left: 17px;
}

.avatar {
  margin-right: 15px;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  button {
    width: 10%;
    margin-left: 15px;
  }
}

.name {
  text-decoration: none;
  color: #333
}
