$primary: #026670;
$secondary: #9fedd7;
$info: #fef9c7;
$warning: #fce181;
$success: #edeae5;
$error: #8d5676;

:export {
  primary: $primary;
  secondary: $secondary;
  info: $info;
  warning: $warning;
  success: $success;
  error: $error
}
