$primary: #2E958C;
$secondary: #99D0D3;
$info: #FFFCD9;
$warning: #FCE0D5;
$success: #C8C3C9;
$error: #B47EB2;
$grey: #BFBFBF;
$white: #FFF;

:export {
  primary: $primary;
  secondary: $secondary;
  info: $info;
  warning: $warning;
  success: $success;
  error: $error;
  grey: $grey;
  white: $white;
}
