@import '~shared/themes/palette.module';

.profileInfo {
  height: 100%;
  width: 100%;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  .profileCards {
    height: 400px;
    margin: 20px 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    .profile {
      height: 100%;
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      background-color: #fff;
    }

    .right {
      width: 40%;
      align-items: center;
      border-radius: 0 10px 10px 0;

      &.on {
        box-shadow: 50px 0 50px $secondary;
      }

      &.off {
        box-shadow: 50px 0 50px rgba(0, 0, 0, 0.3);
      }

      .avatar {
        width: 100%;
        height: 87%;
      }

      .btnBlock {
        border-top: 1px solid rgba($secondary, 0.5);
        height: 10%;
        width: 100%;
        padding-top: 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;

        .button {
          height: 100%;
          width: 80%;
        }

        .buttons {
          height: 100%;
          width: 45%;
          overflow: hidden;
        }
      }

    }

    .left {
      width: 60%;
      border-radius: 10px 0 0 10px;

      &.on {
        box-shadow: -50px 0 50px $secondary;
      }

      &.off {
        box-shadow: -50px 0 50px rgba(0, 0, 0, 0.3);
      }

      .profileHeader {
        font-weight: 600;
        font-size: 20px;
        text-align: start;
        height: 10%;
        width: 100%;
        overflow: hidden;
        padding-bottom: 10px;
        border-bottom: 1px solid rgba($secondary, 0.5);
        display: flex;
        justify-content: space-between;
      }

      .profileList {
        height: 80%;
        overflow: hidden;

        li {
          height: 60px;

          &:last-child {
            height: 120px;
          }


          .editFields {
            width: 50%;

            .input {
              width: 100% !important;
            }

            .datePicker {
              height: 40px !important;

              div {
                height: 40px !important;
              }
            }

          }

        }
      }

      .stats {
        padding-top: 10px;
        border-top: 1px solid rgba($secondary, 0.5);
        height: 10%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        li {
          display: flex;
          height: 20px;
          width: 50px;
          padding: 0;
          color: rgba(0, 0, 0, 0.26);

          div {
            margin: 0 10px 0 0;
            width: 20px;
            min-width: 20px;
          }

          div:last-child {
            span {
              font-size: 15px;
              font-weight: 600;
            }
          }
        }
      }

    }
  }
}
