@import "src/styles/palette.module";

.header {
  a {
    color: $success;
    text-decoration: none;

    &:hover {
      color: $success
    }

    &:active {
      color: $success;
    }
  }
}

.linkItem {

  &:hover {
    background-color: $secondary
  }

  .link {
    text-decoration: none;
    color: #333
  }
}



