@import "shared/themes/palette.module";

.linkItem {
  width: 100%;
  text-decoration: none;
  color: #333;

  &:hover {
    background-color: $secondary;
    text-decoration: none;
    color: #333;
  }
}
