@import "shared/themes/palette.module";

.listItem {
  justify-content: space-between;
  padding: 0;
}

.linkItem {
  width: 100%;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.56);

  li {
    padding: 4px;
    margin: 0;
    height: 36px;
    width: 100%;
    overflow: hidden;

    &:hover {
      background-color: $success;
      text-decoration: none;
      color: rgba(0, 0, 0, 0.56);
    }
  }

  &:hover {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.56);
  }
}

.active {
  background-color: $success !important;
}
