.root {
  width: 400px;
  padding: 50px;
  border: 1px solid #dedede;
  margin: 0 auto;
  border-radius: 10px!important;
}

.field {
  padding-bottom: 20px !important;
}

.title {
  text-align: center !important;
  font-weight: bold !important;
  margin-bottom: 30px !important;
}

.link {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  color: #373a3c;

  &:hover {
    color: #373a3c;
  }
}

.error {
  display: flex;
  justify-content: center;
  color: #f5a29d;
  height: 20px;
  padding-bottom: 20px;
}
