@font-face {
  font-family: 'Gros Ventre Regular';
  src: local('Gros Ventre Regular'), url("../public/fonts/Gros Ventre Regular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
  height: auto;
  background-image: url("../public/images/7e379550-0e9d-4f17-a757-964bc3d6ee2e.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  font-family: 'Gros Ventre Regular',  sans-serif;
}

body {
  height: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

code {
  font-family: 'Gros Ventre Regular',  sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media (width <= 1200px) {
  body {
    font-size: 12px !important;
  }
}
