$blue: #4361ee;

.profile {
  height: 100%;
  flex-wrap: nowrap;

  .mainBlock {
    height: 400px;
    width: auto;
    display: flex;
    justify-content: space-between;
    margin: 20px;

    .profileMain {
      padding: 20px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      border-radius: 15px;
      background-color: #fff;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

      .avatar {
        width: 200px;
        height: 250px;
      }

      .button {
        border-radius: 10px;
        height: 40px;
        width: 150px;
      }
    }

    .profileInfo {
      height: 400px;
      padding: 20px;
      border-radius: 15px;
      background-color: #fff;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

      .profileData {
        margin: 0;
        height: 40px;
        align-self: end;
        bottom: -50px;

        .statusData {
          display: flex;
          justify-content: space-between;

          .name {
            font-weight: 600;
            font-size: 25px;
            text-align: start;
          }
        }

        .infoData {
          height: 160px;


          li {
            div {
              width: 400px
            }

          }
        }

        .divider {
          margin: 20px 0;
        }

        .stats {
          height: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          li {
            display: flex;
            flex-direction: column;
            height: 70px;
            padding: 0;

            &:not(:last-of-type) {
              border-right: 1px solid #000000;
            }

            div {
              margin: 0;
            }

            div:last-child {
              span {
                font-size: 36px;
                font-weight: 600;
              }
            }
          }
        }
      }
    }
  }
}
